    $black-color: #222222;
    $pink-color: #F1E4E6;
    $dark-pink-color: #F16D7F;
    $white-color: #E8E8E8;
    $grey-color: #F8F8F8;
    $dark-grey-color: #5D5D5D;
    $black-grey-color: #222224;
    $grey-dull-color: #9F9F9F;
    $input-color: #E1E1E1;
    $registration-color: #F8F3F4;
    $outline-color: #A4A4A4;