.brand {
    max-width: 1600px;
    display: flex;
    margin: 0 auto 63px auto;

    @include tablet {
        margin: 0 auto 19px auto;
    }

    @include mobile {
        min-height: 363px;
        margin: 0 auto 64px auto;
    }

    &__title-container {
        background-color: $pink-color;
        flex-grow: 1;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;

        @include tablet {
            padding: 0 0 0 69px;
        }

        @include mobile {
            padding: 0 0 0 83px;
        }
    }

    &__title {
        text-transform: uppercase;
        max-width: 377px;
        position: relative;

        @include font(48px, 58px, 900);

        @include tablet {
            @include font(44px, 52px);
        }

        @include mobile {
            @include font(38px, 46px);
        }

        &::before {
            position: absolute;
            content: '';
            width: 12px;
            height: 92px;
            background: $dark-pink-color;
            left: -25px;
        }
    }

    &__sub-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        display: block;
    }

    &__pink-title {
        color: $dark-pink-color;
    }

    &__img {
        width: 50%;
        height: auto;

        @include mobile {
            display: none;
        }
    }
}