.cart {
    margin: 0 0 113px 0;

    &__container {
        display: flex;

        @include tablet {
            display: block;
        }

        @include mobile {
            
        }
    }

    &__title {
        padding: 59px 0 60px;
        color: #F16D7F;
        text-transform: uppercase;

        @include font(24px, 29px, 400);
        @include mobile {
            text-align: center;}
    }

    &__container-top {
        background-color: $registration-color;
        margin: 0 0 96px 0;
    }

    &__item {
        display: flex;
        width: 652px;
        height: 306px;
        margin: 0 128px 40px 0;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5); /* Параметры тени */
        padding: 10px;
    }

    &__item--sub-title{
        margin: 22px 0 42px 31px;
        width: 262px;
        text-transform: uppercase;

        @include font(24px, 29px, 400);
    }

    &__item--title {
        margin: 0 0 6px 31px;
        font-family: Lato;

        @include font(22px, 26px, 400);
    }

    &__sub-item--price {
        color: $dark-pink-color;
    }

    &__adrees {
        @include tablet {
        display: flex;
        }

        @include mobile {
        
        }
    }

    &__adrees--title {
        font-family: Lato;
        text-transform: uppercase;
        margin: 0 0 20px;

        @include font(16px, 19px, 300);
    }

    &__adrees--form{
        display: flex;
        flex-direction: column;
    }

    &__adrees--placeholder{
        width: 360px;
        height: 45px;
        margin: 0 128px 20px 0;
        border: none;
        outline: 2px solid;
        outline-color: $outline-color;
        padding: 0 0 0 16px;
        color: #B1B1B1;

        @include font(13px, 16px, 300);
    }

    &__adrees--buttom {
        margin: 24px 0 58px 70px;
        transform: translate(-50%, 0);
        color: $outline-color;
        border-color: $outline-color;
        text-decoration: none;
        user-select: none;
        background-color: white;
        padding: 14px 25px;
        outline: 1px solid;
        border: none;
        text-transform: uppercase;

        &:hover {
            color: $dark-pink-color;
            border-color: $dark-pink-color;
        }
    }

    &__control {
        display: flex;
        justify-content: space-between;
        @include tablet {
            margin: 62px 49px 64px;
            justify-content: center;
        }

        @include mobile {
            
        }
    }

    &__control--clear {
        color: $outline-color;
        border-color: $outline-color;
        text-decoration: none;
        user-select: none;
        background-color: white;
        padding: 14px 25px;
        outline: 1px solid;
        border: none;
        text-transform: uppercase;
        
        

        &:hover {
            color: $dark-pink-color;
            border-color: $dark-pink-color;
        }
    }

    &__control--continue {
        color: $outline-color;
        border-color: $outline-color;
        text-decoration: none;
        user-select: none;
        background-color: white;
        padding: 14px 25px;
        outline: 1px solid;
        border: none;
        text-transform: uppercase;

        &:hover {
            color: $dark-pink-color;
            border-color: $dark-pink-color;
        }
    }

    &__checkout {
        width: 360px;
        height: 214px;
        background-color: #F5F3F3;

        @include tablet {
        margin: 30px;
        }

        @include mobile {
            
        }
    }

    &__checkout--button {
        padding: 32px 0 0 0;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        color: $white-color;
        border-color: $dark-pink-color;
        text-decoration: none;
        user-select: none;
        background-color: $dark-pink-color;
        padding: 16px 43px;
        outline: 1px solid;
        border: none;
        text-transform: uppercase;
    }

    &__price {
        text-align: right;
        padding: 39px 34px 12px 0;

        @include font(11px, 13px, 400);

    }

    &__price-total {
        text-align: right;
        text-transform: uppercase;
        padding: 0 34px 21px 0;

        @include font(16px, 19px, 700);
    }

    &__price-color {
        color: $dark-pink-color;
        margin: 0 0 0 20px;
    }

    &__price-space {
        margin: 0 0 0 20px;
    }

    &__hr {
        width: 250px;
        color: #E2E2E2;
        margin: 0 auto 32px;
    }
}
