.registration {
    margin: 0 0 113px 0;

    @include mobile {
        align-items: center;
    }

    &__title__container {
        background-color: $registration-color;
        margin: 0 0 64px 0;
    }

    &__title {
        padding: 59px 0 60px;
        color: #F16D7F;
        text-transform: uppercase;

        @include font(24px, 29px, 400);

        @include mobile {
            text-align: center;
        }
    }


    &__main {
        display: flex;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__placeholders {
        display: flex;
        flex-direction: column;
    }

    &__placeholder-title {
        margin: 0 0 20px 0;

        @include font(16px, 19px, 300);
    }

    &__placeholder__item {
        width: 360px;
        height: 45px;
        margin: 0 128px 20px 0;
        border: none;
        outline: 2px solid;
        outline-color: $outline-color;
        padding: 0 0 0 16px;
        color: #B1B1B1;

        @include font(13px, 16px, 300);

        @include tablet {
            margin: 0 22px 20px 0;
        }
    
        @include mobile {
            margin: 20px 8px 20px 8px;
            }
    }

    &__gender {
        display: flex;
        margin: 31px 0 33px 0;

        @include font(11px, 13px, 300);
    }

    &__gender__title {
        margin: 0 20px 0 10px;
    }

    &__placeholder__rules {
        color: #B1B1B1;
        width: 359px;
        margin: 0 0 39px 0;

        @include font(13px, 16px, 300);
    }

    &__button {
        background-color: $dark-pink-color;
        color: $grey-color;
        border: none;
        text-decoration: none;
        display: inline-block;
        margin: 27px 0 0 0;
        width: 167px;
        height: 50px;
        text-transform: uppercase;

        @include font(14px, 17px, 400);

        @include mobile {
            margin: 0 0 0 16px;
        }
    }

    &__sub-title {
        font-size: 23px;
        font-weight: 300;
        line-height: 29px;
    }

    &__loyalty__title {
        margin: 0 0 22px;
        text-transform: uppercase;

        @include font(24px, 29px, 300);

        @include tablet {
            @include font(16px, 19px, 300);
        }
    
        @include mobile {
            @include font(16px, 19px, 300);
            margin: 40px 0 32px 0;
        }
    }

    &__loyalty__sub-title {
        margin: 0 0 21px;

        @include font(24px, 29px, 300);

        @include tablet {
            @include font(16px, 19px, 300);
        }
    
        @include mobile {
            @include font(16px, 19px, 300);
            margin: 40px 0 32px 0;
        }
    }

    &__loyalty__item {
        margin: 0 0 16px;
        padding: 0 0 0 40px;

        &::before {
            content: url(../img/Vector.svg);
            position: absolute;
            left: 3px;
        }
    }

    &__arrow {
        margin: 0 0 0 20px;
    }

    &__loyalty__list {
        position: relative;
        margin: 0 0 0;

        @include font(24px, 29px, 300);

    @include tablet {
        @include font(16px, 19px, 300);
    }

    @include mobile {
        @include font(16px, 19px, 300);
    }
    }
}