.services {
    background-color: $black-grey-color;
    min-height: 341px;
    width: 100%;

    &_container {
        align-items: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        padding: 103px 0 0 30px;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        max-width: 360px;
        text-align: center;

    }

    &__car {
        margin: 0 0 28px 0;
    }

    &__percent {
        margin: 0 0 19px 0;
    }

    &__crown {
        margin: 0 0 25px 0;
        background-color: transparent;
    }

    &__title {
        color: $grey-color;
        margin: 0 0 16px;

        @include font(20px, 324x, 400);
    }

    &__text {
        color: $grey-color;
        padding: 0 0 104px;

        @include font(14px, 17px, 300);
    }
}